.placeholder {
  position: absolute;
  inset-inline: 0;

  font-size: x-large;
  color: #fff;
  text-align: center;
  text-shadow:
    0 0 0.1em var(--main-color),
    0 0 0.2em var(--main-color),
    0 0 0.3em var(--main-color),
    0 0 0.4em var(--main-color),
    0 0 0.5em var(--main-color),
    0 0 0.6em var(--main-color);
  vertical-align: baseline;
}
